<% unless current_user %>
  <% content_for :stylesheets do %>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "splash" %>
  <% end %>
  <section id="splash">
    <section id="headline">
      <h1>
         100% interesting tweets
      </h1>
      <div>
        <div class="bird gold"></div>
      </div>
      <h2>
        Auto-magically create a feed of the tweets you need with our machine learning Twitter client.
      </h2>
    </section>
    <section id="extra" class="container">
      <a href="/auth/twitter" class="btn btn-primary btn-large">
        <img src="<%= image_path "blue.png" %>" /> Get Started
      </a>
    </section>
  </section>
  <div id="birds">
    <% ['far','near','nearest'].each do |distance| %>
      <div class="distance <%= distance %>">
        <% 10.times do %>
          <div class="bird grey-<%= distance %>" style="left: <%= (rand * 600).to_i %>px;top: <%= (rand * 50).to_i%>%"></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <% content_for :javascript do %>
    <div pub-key="<%= ENV['PN_PUB'] %>" sub-key="<%= ENV['PN_SUB'] %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <%= javascript_include_tag "app" %>
  <% end %>
  <% content_for :stylesheets do %>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "app" %>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css' />
  <% end %>
  <!-- The Application -->
  <section id="app">
    <header id="toolbar"><div class="toolbar-inner">
      <h2>Teach the Bird</h2>
      <span class="user-name"></span>
    </header>
    <div id="container">
        <section id="streams">
        </section>
    </div>
  </section>
<% end %>
