<% unless current_user %>
  <%= render "landing_pages/find" %>
<% else %>
  <% content_for :javascript do %>
    <div pub-key="<%= ENV['PN_PUB'] %>" sub-key="<%= ENV['PN_SUB'] %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <%= javascript_include_tag "app" %>
  <% end %>
  <% content_for :stylesheets do %>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "app" %>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css' />
  <% end %>
  <!-- The Application -->
  <section id="app">
    <header id="toolbar"><div class="toolbar-inner">
      <h2>Twedar <%= image_tag("twedar-24.png", :size => "24x24", :alt => "Export to CSV") %></h2>
      <span class="user-name"></span>
    </header>
    <div id="container">
        <section id="streams">
            <div class="loading">
              Loading, carrier pidgeons have been dispatched...
              <div class="progress progress-info
                   progress-striped active">
                <div class="bar"
                     style="width: 100%;"></div>
              </div>
            </div>
        </section>
    </div>
  </section>
<% end %>
