<div id="triple" class="container">
  <div class="row">
    <div class="panel signup twelve columns">
      <div class="row subsections">
        <h1>Just the tweets you want</h1>
        <div class="four columns">
          <h4 class="subheader">Live stream of filtered tweets</h4>
          <p>Create a live stream without the rubbish. Click to indicate the types of tweet you don't want.</p>
        </div>
        <div class="four columns">
          <h4 class="subheader">Run searches 24/7</h4>
          <p>We keep your searches running 24/7, letting you keep up even when offline.</p>
        </div>
        <div class="four columns">
          <h4 class="subheader">Export to CSV</h4>
          <p>Save your tweets for sales leads, marketing and research. Opens in Excel and Google docs.</p>
        </div>
      </div>
      <div class="row images">
        <div class="four columns">
          <%= link_to image_tag("filter-demo.png", :size => "130x130", :alt => "Filter tweets"), "/auth/twitter" %>
        </div>
        <div class="four columns">
          <%= link_to image_tag("24h-demo.png", :size => "130x130", :alt => "Monitor tweets 24/7"), "/auth/twitter" %>
        </div>
        <div class="four columns">
          <%= link_to image_tag("export-demo.png", :size => "130x130", :alt => "Export to CSV"), "/auth/twitter" %>
        </div>
      </div>

      <div class="row signup-button">
        <div class="eight columns offset-by-two">
          <h4>Make Twitter work for you with Twedar</h4>
          <a href="/auth/twitter" class="button nice radius blue large">Sign in with Twitter</a>
        </div>
      </div>

      <hr />

      <div class="row footer">
        <span>Follow us at <%= link_to "@twedarapp", "http://twitter.com/intent/follow?screen_name=twedarapp" %></span>
        <span class="more">More:</span>
        <%= link_to "Twitter research", "/research" %>
        <%= link_to "Twitter marketing", "/marketing" %>
        <%= link_to "Twitter sales", "/sales" %>
      </div>
    </div>
  </div>
</div>
